<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Material Escaneado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  



    

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label position="floating">MM/DD/YYYY</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" value="2002-09-23T15:03:46.789"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Fecha factura</ion-label>
        <ion-input slot="start"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Proveedor (RFC)</ion-label>
        <ion-input slot="start"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Monto</ion-label>
        <ion-input slot="start"></ion-input>
      </ion-item>    
      <ion-item>
        <ion-label>Folio</ion-label>
        <ion-input slot="start" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Folio fiscal</ion-label>
        <ion-input slot="start" ></ion-input>
      </ion-item>
    </ion-list>
   
  </ion-card>
</ion-content>
